project     = "smctf"
environment = "dev"
aws_region  = "ap-northeast-2"

dynamodb_table_name = "smctf-stacks"

create_irsa_role              = true
irsa_role_name                = "smctf-container-provisioner-irsa"
eks_oidc_provider_arn         = "arn:aws:iam::<account-id>:oidc-provider/oidc.eks.<region>.amazonaws.com/id/<oidc-id>"
eks_oidc_issuer_url           = "https://oidc.eks.<region>.amazonaws.com/id/<oidc-id>"
k8s_service_account_namespace = "smctf"
k8s_service_account_name      = "container-provisioner"

common_tags = {
  Team = "security"
}
