apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: deny-pod-to-pod-traffic
  namespace: stacks
spec:
  podSelector: {}
  policyTypes:
    - Ingress
  ingress: [] # only EKS cluster.
